.shapes-container {
  position: relative;
  width: 500px;
  height: 30px;
  background: rgba(255, 0, 0, 0.8);
}
.memory-line {
  position: absolute;
  height: 100%;
  width: 2px;
  background: black;
}

.circle-marker {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: blue;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
